<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("_header.ejs") %>

    <section>
      <h1>Book room or spot</h1>
      <h2>Room Booking</h2>
      <h2>You are booking</h2>
      <div class="info">
        <img src="<%= locals.image %>" alt="<%= locals.type %>" />
        <h3>Room/spot Type:<%=nlocals.type %></h3>
        <h3>Room/spot ID:<%= locals.id %></h3>
        <h3>Price per Night/Day: KSH .<%= locals.price %></h3>
        <h3>Capacity: <%= locals.capacity ? locals.capacity : "NA" %></h3>
      </div>
    </section>
    <section class="client-info">
      <h2>Client Information</h2>
      <p>Please fill in your details to proceed with the booking.</p>
      <form action="/client-info" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required /><br /><br />

        <button type="submit">Submit Info</button>
      </form>
    </section>
    <script>
      const clientInfoForm = document.querySelector(".client-info-form");
      clientInfoForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const phone = document.getElementById("phone").value;
        fetch("http://localhost:3000/client-info", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: name,
            email: email,
            phone: phone,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              document.getElementById("client-info-form").style.display =
                "none";
              const message = document.createElement("p");
              message.style.color = "green";
              message.innerHTML =
                "your information has been submitted successfully! <br> You can now proceed to book your room or spot.";
              document.querySelector(".client-info").appendChild(message);
              document.getElementById("client").value = data.clientID;
            } else {
              alert("Error submitting form.Please try again.");
            }
            // Handle success or error response here
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    </script>
    <section class="booking-info">
      <h2>Booking Information</h2>
      <p>Please select your check-in and check-out dates.</p>
      <form action="/completeBooking" method="POST" id="complete-booking-form">
        <input
          type="hidden"
          name="type"
          id="type"
          value="<%= locals.room?'room' : 'spot' %>"
        />
        <input type="hidden" name="id" id="id" value="<%= locals.id %>" />
        <input
          type="hidden"
          name="client"
          id="client"
          value="<%= locals.client %>"
        />
        <label for="checkIn">Check-in Date:</label>
        <input type="date" id="checkIn" name="checkIn" required /><br /><br />

        <label for="checkOut">Number of nights/guests</label>
        <input type="number" id="nights" name="nights" required /><br /><br />

        <button type="submit">Confirm Booking</button>
      </form>
    </section>
    <script>
      const bookingForm = document.querySelector(".booking-info-form");
      bookingForm.addEventListener("submit", (event) => {
        const clientID = document.getElementById("client").value;
        if (!clientID) {
          event.preventDefault();
          alert(
            "Please fill in your client information before proceeding with the booking."
          );
        }
      });
    </script>
  </body>
</html>
